<!DOCTYPE html>
<html>
<head>
<title>crop yield predict</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>
<body class="w3-light-grey">

<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <span class="w3-bar-item w3-left">Welcome!</span>
  </div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <hr>
    <div class="w3-container">
      <h5>Dashboard</h5>
    </div>
    <div class="w3-bar-block">
      <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
      <a href="#" class="w3-bar-item w3-button w3-padding w3-blue"><i class="fa"></i>  Predict here -> </a>
      <a href="#" class="w3-bar-item w3-button w3-padding"><i class="fa"></i>  MORE INFO</a>
    </div>
  </nav>

<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:300px;margin-top:43px;">

    <!-- Header -->
    <header class="w3-container" style="padding-top:22px">
      <h5><b><i class="fa "></i> ~ CROPS ~ </b></h5>
    </header>
  
    <div class="w3-row-padding w3-margin-bottom">
      <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
          <div class="w3-clear"></div>
          <h4>crop1 </h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-padding-16">
          <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
          <div class="w3-clear"></div>
          <h4>crop2</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
          <div class="w3-clear"></div>
          <h4>crop3</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left"><i class="fa w3-xxxlarge"></i></div>
          <div class="w3-clear"></div>
          <h4>crop4</h4>
        </div>
      </div>
    </div>

<!-- prediction?-->
<div class="w3-container">
    <h5>Enter the details here!</h5>
    <div class="w3-container" >
        <form action = "/" method = "post" class = "info">
            <h5 style="margin: auto;">Nitrogen:</h5>
            <input type="text" id="name" name="Nitrogen" placeholder="50-100" required="required" style="height: 34px;"/>
            <br>
            <h5 style="margin: auto;">Phosphorous:</h5>
            <input type="text" id="name" name="Pho" placeholder="50-100" required="required" style="height: 34px;"/>
            <br>
            <h5 style="margin: auto;">Potassium:</h5>
            <input type="text" id="rooms1" name="Pk" placeholder="50-100" required="required" style="height: 34px;"/>
            <br>
            <h5 style="margin: auto;">Temperature:</h5>
            <input type="text" id="rooms2" name="temp" placeholder="42 deg" required="required" style="height: 34px;" value="{{temp}}"/>
            <br>
            <h5 style="margin: auto;">Humidity:</h5>
            <input type="text" id="rooms3" name="humdidity" placeholder="32 deg" required="required" style="height: 34px;" value="{{hum}}"/>
            <br>
            <h5 style="margin: auto;">pH:</h5>
            <input type="text" id="rooms4" name="pH" placeholder="7 or 8" required="required" style="height: 34px;"/>
            <br>
            <h5 style="margin: auto;">Rainfall:</h5>
            <input type="text" id="rooms5"  name="rain" placeholder="130cm" required="required" style="height: 34px;"/>
            <hr>
            <button type="submit" class="btn" style="font-size: 21px;">Predict</button>
          </form>
          <div class='container'>
                <form action="/detect">
                    <a href=# id=test><button>Detect</button></a>
                </form>
        </div>
</div>

<!-- STATS -->
<hr>
<div class="w3-container">
  <h5>Output</h5>
  <p>{{prediction_text}}</p>
</div>
<hr>


</body>